@media all and (max-width: 780px) {
header {
  height: 120px;
}

 .header-right {
  display: none;
 }
 .container {
   margin: auto;
 }
 .container a {
   margin: auto;
 }
 .logo {
   margin-left: 30px;
   width: 100px;
   padding: 10px 0;
 }
 .hero-text h1 {
   font-size: 70px;
   letter-spacing: 1px;
 }
 @media screen and (max-width: 500px) {
  .topnav a, .topnav input[type=text] {
    float: left;
    display: block;
    text-align: left;
    width: 90%;
    margin: 10px;
    padding: 10px;
    font-size: 14px;
  }
  .topnav input[type=text] {
    border: 3px solid  rgba(249, 217, 192, 0.8);
  }
  .hero-image {
    width: 100%;
  }
}
